.example-card {
  //width: 350px;
  //margin: 4px;
  //float: left;
  cursor: pointer;
}
div.mat-card-header-text {
  margin-left: 0 !important;
}
.example-header-image {
  background-size: cover !important;
  margin-top: 12px;
  margin-left: 12px;
}
.footer-profile {
  clear:both;
  margin: 10px 5px;
}
