mat-form-field {
    width: 100%;
    margin: 0 25px 0 0;
}
.mg-left-5 {
    margin-left: 5px;
}
#multi-edit-form .mat-form-field-infix {
    width: 138px !important;
}
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    line-height: 1;
    vertical-align: middle;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: #999;
    border-radius: 10px;
}
.mat-bg-red {
    border-color: #953b39;
    color: #fff;
    background-color: #c26565;
    text-shadow: none;
}
#btn-multi-edit[disabled] {
    color : rgb(187, 187, 187);
    background-color: rgba(230, 230, 229, 0.96);
}
