<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="left"
     fxLayoutGap="0"
     fxLayoutGap.xs="0">
    <div fxFlex="40%">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Đổi mật khẩu</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="updatePasswordForm" novalidate (ngSubmit)="changePassword()">
                    <mat-error *ngIf="error">
                        <span>{{error}}</span>
                    </mat-error>

                    <div class="mb-1">
                        <mat-form-field style="width: 100%">
                            <input matInput placeholder="Mật khẩu cũ" type="password" formControlName="old_password" required autocomplete="false">
                        </mat-form-field>
                        <mat-error>
                            <span *ngIf="!updatePasswordForm.get('old_password').valid && updatePasswordForm.get('old_password').touched">Vui lòng nhập mật khẩu!</span>
                        </mat-error>
                    </div>

                    <div class="mb-1">
                        <mat-form-field style="width: 100%">
                            <input matInput placeholder="Mật khẩu mới" type="password" formControlName="new_password" required autocomplete="false">
                        </mat-form-field>
                        <mat-error>
                            <span *ngIf="!updatePasswordForm.get('new_password').valid && updatePasswordForm.get('new_password').touched">Vui lòng nhập mật khẩu mới!</span>
                        </mat-error>
                    </div>

                    <div class="mb-1">
                        <mat-form-field style="width: 100%">
                            <input matInput placeholder="Xác nhận mật khẩu" type="password" formControlName="confirm_password" required autocomplete="false">
                        </mat-form-field>
                        <mat-error>
                            <span *ngIf="!updatePasswordForm.get('confirm_password').valid && updatePasswordForm.get('confirm_password').touched">Vui lòng nhập xác nhận mật khẩu!</span>
                        </mat-error>
                    </div>

                    <mat-card-actions class="align-right">
                        <button mat-raised-button color="primary" class="btn-block" type="submit">Cập nhật</button>
                    </mat-card-actions>

                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
